node_modules/
.env
coverage/
coverage.json
typechain-types/
cache/
artifacts/
broadcast/
build/
circuits/*.ptau
circuits/*_prepared.ptau
services/zk-prover/node_modules/
services/attestation-oracle/node_modules/
deployed-addresses.json
